---
import FacebookIcon from "@/assets/social/facebook-icon.svg";
import InstagramIcon from "@/assets/social/instagram-icon.svg";
import WhatsappIcon from "@/assets/social/whatsapp-icon.svg";
import LogoWhite from "@/assets/logos/atxona-white.svg";

import Envelope from "@/assets/contact/envelope.svg";
import Mapmarker from "@/assets/contact/mapmarker.svg";
import Phone from "@/assets/contact/phone.svg";
import { 
    FACEBOOK,
    INSTAGRAM,
    ADDRESS,
    EMAIL,
    PHONE,
    PHONE_FORMAT,
    WHATSAPP,
    WHATSAPP_FORMAT
 } from 'astro:env/client';

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer class="bg-primary text-white">
    <div class="container mx-auto py-24 md:py-16">
        <div class="flex max-sm:flex-col-reverse sm:justify-between mb-6 max-md:mx-6 sm:pb-0">
            <div data-aos="fade" data-aos-duration="1000" data-aos-delay="100" class="flex flex-row max-sm:justify-center max-sm:mt-28 gap-0 md:gap-2 lg:gap-4">
                <a href={'https://wa.me/' + WHATSAPP_FORMAT} target="_blank" class="hover:text-secondary hover:scale-105 transition-transform duration-200">
                    <WhatsappIcon class="w-10 sm:w-12 lg:w-16 h-auto" />
                </a>
                <a href={FACEBOOK} target="_blank" class="hover:text-secondary hover:scale-105 transition-transform duration-200">
                    <FacebookIcon class="w-10 sm:w-12 lg:w-16 h-auto" />
                </a>
                <a href={INSTAGRAM} target="_blank" class="hover:text-secondary hover:scale-105 transition-transform duration-200">
                    <InstagramIcon class="w-10 sm:w-12 lg:w-16 h-auto" />
                </a>
            </div>
            <div data-aos="fade" data-aos-duration="1000" data-aos-delay="100">
                <LogoWhite class="max-sm:w-full sm:w-72 lg:w-96" />
            </div>
        </div>

        <div data-aos="fade" data-aos-duration="1000" data-aos-delay="100">
            <ul class="text-white text-xl px-6">
                <li class="mb-4 lg:mb-2 text-center lg:text-left"><a class=""><Mapmarker class="w-6 h-auto mr-3 inline-flex" />{ADDRESS}</a></li>
                <li class="mb-4 lg:mb-2 text-center lg:text-left"><a href={'tel:' + PHONE_FORMAT} target='_blank' class="hover:text-secondary"><Phone class="w-6 h-auto mr-3 inline-flex" />{PHONE}</a></li>
                <li class="text-center lg:text-left"><a href={'mailto:' + EMAIL} target='_blank' class="hover:text-secondary"><Envelope class="w-6 h-auto mr-3 inline-flex" />{EMAIL}</a></li>
            </ul>
        </div>
        <p class="text-white text-center text-md pt-20">
            {i18n.footer.credits.first} <span class="inline font-bold hover:text-secondary cursor-pointer">Polvora</span>
             - <span class="inline text-nowrap">{i18n.footer.credits.second} 
        <a class="font-bold hover:text-secondary" href="https://manejoweb.com.ar" target="_blank">ManejoWeb</a></span></p>
    </div>
</footer>