---
import Product from "@/components/Product.astro"
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

---
<section class="bg-white py-20">
    <div class="container mx-auto mb-20">
        <hr class="border border-semiBlack mb-8">
        <h2 class="text-primary text-5xl font-medium tracking-widest text-right">{i18n.marketing.productTitle}</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {
            i18n.marketing.products.map(product => (
                <Product
                    name={product.name}
                    image={product.image}
                    variety={product.variety}
                    countries={product.countries}
                />
            ))
        }
    </div>
</section>