---
import "@/styles/global.css";
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import Footer from '@/components/Footer.astro';
import WhatsApp from '@/components/WhatsApp.astro';
import Header from '@/components/Header.jsx';
import 'aos/dist/aos.css';
import { getRelativeLocaleUrl } from 'astro:i18n';
import {
  getLangFromUrl,
  useTranslatedPath,
} from "@/i18n/utils.ts";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

import type { Preload } from "@/types/Preload"

interface Props {
	title: string;
	canonical: string;
	metaDescription: string;
	metaImg: string;
	alternatePt?: string;
	alternateEn?: string;
	preLoad?: Array<Preload>;
}

const {
	title,
	canonical,
	metaDescription,
	metaImg,
	preLoad,
	alternatePt,
	alternateEn
} = Astro.props;
const { currentLocale, url } = Astro;
const navLinks = { 
	index: getRelativeLocaleUrl(currentLocale ?? "", ""),
	about: getRelativeLocaleUrl(currentLocale ?? "", "about"),
	production: getRelativeLocaleUrl(currentLocale ?? "", "production"),
	services: getRelativeLocaleUrl(currentLocale ?? "", "services"),
	marketing: getRelativeLocaleUrl(currentLocale ?? "", "marketing"),
	contact: getRelativeLocaleUrl(currentLocale ?? "", "contact") 
};
const currentUrl = url.pathname;
const getFinalUrl = () => {
	//remove /en or /pt from url
	return currentUrl.replace(/\/(en|pt)/, "");
}

console.log(currentUrl)
const langLinks = {
	es: translatePath(getFinalUrl(),"es"),
	en: translatePath(getFinalUrl(),"en"),
	pt: translatePath(getFinalUrl(),"pt")
};

---
<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Favicons -->
		<link rel="icon" href="/simbolo.svg" type="image/svg+xml" />
		<title>{title}</title>
		
		<!-- SEO -->
		<link rel="canonical" href={canonical} />
		<link rel="alternate" hreflang="pt-BR" href={alternatePt}>
		<link rel="alternate" hreflang="en-US" href={alternateEn}>
		<!-- GOOGLE -->
		<meta name="description" content={metaDescription}/>
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="Mon, 01 Jul 1970 00:00:00 GMT" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		 <!-- FACEBOOK OPEN GRAPH TAGS -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={metaDescription} />
		<meta property="og:locale" content="es_AR">
		<meta property="og:locale:alternate" content="en_US">
		<meta property="og:locale:alternate" content="pt_BR">
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonical} />
		<meta property="og:image" content={metaImg} />
		<!-- Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={metaDescription} />
		<meta name="twitter:url" content={canonical} />
		<meta name="twitter:image" content={metaImg} />
		{
			preLoad?.map(({ href, as, type }) => (
				<link rel="preload" {as} {href} {type} />
			))
		}
	</head>
	<body class="font-montserrat bg-white scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem] scrollbar-track-gray-200 scrollbar-thumb-gray-400">
		<Header
			currentLocale={currentLocale}
			navLinks={navLinks}
			langLinks={langLinks}
			client:load
		/>
		<main>
			<slot />
		</main>
		<WhatsApp />
		<Footer />
		
	</body>
</html>
<script>
	import AOS from "aos"; 
	AOS.init({
		disable: 'mobile'
	})
</script>


<style is:global>

/*recaptcha*/
.grecaptcha-badge {
	width: 70px !important;
	overflow: hidden !important;
	transition: all 0.3s ease !important;
	left: 4px !important;
	z-index:100;
}

.grecaptcha-badge:hover {
	width: 256px !important;
}
/*whatsapp button*/

.float-button {
	text-decoration: none;
    position: fixed;
	padding: 10px;
	padding-right: 10px;
	bottom: 30px;
	right: 30px;
	color: #fff;
	background-color:#25D366;
	border-radius: 100%;
	z-index: 100;
	font-family: Arial;
	font-size: 24px;
	animation: whatsapp-animation 0.5s ease-in-out;
	box-shadow: 1px 2px 5px 2px rgba(30,30,30,0.3);
	transition:all 0.3s ease-out;
}

.float-button:hover {
	background-color: #128C7E;
	color: #fff;
    text-decoration: none;
}

.whbutton {
	font-size: 22px !important;
	padding-right: 5px;
	padding-left: 5px;
}

@keyframes whatsapp-animation {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%
	}
}

@media screen and (max-width: 545px) {
	span {
		display: none;
	}

	.float-button {
		bottom: 15px;
		right: 15px;
		border-radius: 20px 20px 5px 20px;
	}
	.whbutton {
		font-size: 32px !important;
	}
}


</style>

